# Part 1 - Stage 1 Data Manipulation

The purpose of this notebook is to analyze the stage 1 data and convert it into a csv file that can be loaded in model expoloration.

In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pkg_resources

from binaryTree import Node
from PIL import Image, ImageDraw

from sklearn.model_selection import GridSearchCV
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

ModuleNotFoundError: No module named 'binaryTree'

In [13]:
cwd = os.getcwd()

## Load Data

In [16]:
tourney_cresults = pd.read_csv(cwd + '/data_stage2/MNCAATourneyCompactResults.csv')
seeds = pd.read_csv(cwd + '/data_stage2/MNCAATourneySeeds.csv')
seeds['Seed'] =  pd.to_numeric(seeds['Seed'].str[1:3], downcast='integer',errors='coerce')
season_dresults = pd.read_csv(cwd +'/data_stage2/MRegularSeasonDetailedResults.csv')

In [17]:
tourney_cresults.tail()

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
2312    2021     148     1211      85     1425      66    N      0
2313    2021     148     1417      51     1276      49    N      0
2314    2021     152     1124      78     1222      59    N      0
2315    2021     152     1211      93     1417      90    N      1
2316    2021     154     1124      86     1211      70    N      0

In [19]:
seeds.tail()

      Season  Seed  TeamID
2417    2022    13    1151
2418    2022    14    1255
2419    2022    15    1174
2420    2022    16    1136
2421    2022    16    1460

In [20]:
season_dresults.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

## Analysis

Only analyze tournament games post 2003. There was a change to the tournament format in this year, so data before this is not as useful.

In [21]:
targetYear = 2003
tourney_cresults = tourney_cresults.loc[tourney_cresults['Season'] >= targetYear]

Initialize a dataframe for the training set

In [22]:
training_set = pd.DataFrame()

Add base features to training set

In [23]:
training_set['Result'] = np.random.randint(0,2,len(tourney_cresults.index))
training_set['Season'] = tourney_cresults['Season'].values
training_set['Team1'] = training_set['Result'].values * tourney_cresults['WTeamID'].values + (1-training_set['Result'].values) * tourney_cresults['LTeamID'].values 
training_set['Team2'] = (1-training_set['Result'].values) * tourney_cresults['WTeamID'].values + training_set['Result'].values * tourney_cresults['LTeamID'].values
training_set.head()

   Result  Season  Team1  Team2
0       0    2003   1411   1421
1       1    2003   1112   1436
2       1    2003   1113   1272
3       1    2003   1141   1166
4       0    2003   1301   1143

Define helper functions for populating the rest of the data in the training set.

In [24]:
def delta_seed(row):
    cond = (seeds['Season'] == row['Season'])
    return seeds[cond & (seeds['TeamID'] == row['Team1'])]['Seed'].iloc[0] - seeds[cond & (seeds['TeamID'] == row['Team2'])]['Seed'].iloc[0]

def delta_winPct(row):
    cond1 = (record['Season'] == row['Season']) & (record['WTeamID'] == row['Team1'])
    cond2 = (record['Season'] == row['Season']) & (record['WTeamID'] == row['Team2'])
    return (record[cond1]['wins']/record[cond1]['games']).mean() - (record[cond2]['wins']/record[cond2]['games']).mean()

def get_points_against(row):
    wcond = (dfW['Season'] == row['Season']) & (dfW['WTeamID'] == row['WTeamID']) 
    fld1 = 'LScore'
    lcond = (dfL['Season'] == row['Season']) & (dfL['LTeamID'] == row['WTeamID']) 
    fld2 = 'WScore'
    retVal = dfW[wcond][fld1].sum()
    if len(dfL[lcond][fld2]) > 0:
        retVal = retVal + dfL[lcond][fld2].sum() 
    return retVal

def get_points_for(row):
    wcond = (dfW['Season'] == row['Season']) & (dfW['WTeamID'] == row['WTeamID']) 
    fld1 = 'WScore'
    lcond = (dfL['Season'] == row['Season']) & (dfL['LTeamID'] == row['WTeamID']) 
    fld2 = 'LScore'
    retVal = dfW[wcond][fld1].sum()
    if len(dfL[lcond][fld2]) > 0:
        retVal = retVal + dfL[lcond][fld2].sum() 
    return retVal

def get_remaining_stats(row, field):
    wcond = (dfW['Season'] == row['Season']) & (dfW['WTeamID'] == row['WTeamID']) 
    fld1 = 'W' + field
    lcond = (dfL['Season'] == row['Season']) & (dfL['LTeamID'] == row['WTeamID']) 
    fld2 = 'L'+ field
    retVal = dfW[wcond][fld1].sum()
    if len(dfL[lcond][fld2]) > 0:
        retVal = retVal + dfL[lcond][fld2].sum()
    return retVal

def delta_stat(row, field):
    cond1 = (record['Season'] == row['Season']) & (record['WTeamID'] == row['Team1'])
    cond2 = (record['Season'] == row['Season']) & (record['WTeamID'] == row['Team2'])
    return (record[cond1][field]/record[cond1]['games']).mean() - (record[cond2][field]/record[cond2]['games']).mean()

In [25]:
training_set['deltaSeed'] = training_set.apply(delta_seed,axis=1)
training_set.head()

   Result  Season  Team1  Team2  deltaSeed
0       0    2003   1411   1421          0
1       1    2003   1112   1436        -15
2       1    2003   1113   1272          3
3       1    2003   1141   1166          5
4       0    2003   1301   1143          1

In [26]:
record = pd.DataFrame({'wins': season_dresults.groupby(['Season','WTeamID']).size()}).reset_index();
losses = pd.DataFrame({'losses': season_dresults.groupby(['Season','LTeamID']).size()}).reset_index();

record = record.merge(losses, how='outer', left_on=['Season','WTeamID'], right_on=['Season','LTeamID'])
record = record.fillna(0)
record['games'] = record['wins'] + record['losses']

In [27]:
# create dataframes of both winners and losers
dfW = season_dresults.groupby(['Season','WTeamID']).sum().reset_index()
dfL = season_dresults.groupby(['Season','LTeamID']).sum().reset_index()

In [28]:
# add points for and points against data
record['PointsFor'] = record.apply(get_points_for, axis=1)
record['PointsAgainst'] = record.apply(get_points_against, axis=1)

In [29]:
# This cell takes ~3 min. To slides
cols = ['FGM','FGA','FGM3','FGA3','FTM','FTA','OR','DR','Ast','TO','Stl','Blk','PF']

for col in cols:
    print("Processing",col)
    record[col] = record.apply(get_remaining_stats, args=(col,), axis=1)

Processing FGM
Processing FGA
Processing FGM3
Processing FGA3
Processing FTM
Processing FTA
Processing OR
Processing DR
Processing Ast
Processing TO
Processing Stl
Processing Blk
Processing PF

You can calculate

In [31]:
record['FGprct'] = record['FGM'] / record['FGA']  
record.tail()

,Season,WTeamID,wins,LTeamID,losses,games,PointsFor,PointsAgainst,FGM,FGA,...,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF,FGprct
6887,2015,0.0,0.0,1212.0,27.0,27.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
6888,2015,0.0,0.0,1363.0,28.0,28.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
6889,2021,0.0,0.0,1152.0,9.0,9.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
6890,2022,0.0,0.0,1175.0,25.0,25.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
6891,2022,0.0,0.0,1249.0,27.0,27.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [32]:
# This will take ~ 3 min. To slides
cols = ['PointsFor','PointsAgainst','FGM','FGA','FGM3','FGA3','FTM','FTA','OR','DR','Ast','TO','Stl','Blk','PF']

for col in cols:
    print("Processing",col)
    training_set['delta' + col] = training_set.apply(delta_stat,args=(col,),axis=1)

Processing PointsFor
Processing PointsAgainst
Processing FGM
Processing FGA
Processing FGM3
Processing FGA3
Processing FTM
Processing FTA
Processing OR
Processing DR
Processing Ast
Processing TO
Processing Stl
Processing Blk
Processing PF

In [33]:
training_set['deltaWinPct'] = training_set.apply(delta_winPct,axis=1)
training_set.head()

,Result,Season,Team1,Team2,deltaSeed,deltaPointsFor,deltaPointsAgainst,deltaFGM,deltaFGA,deltaFGM3,...,deltaFTM,deltaFTA,deltaOR,deltaDR,deltaAst,deltaTO,deltaStl,deltaBlk,deltaPF,deltaWinPct
0,0,2003,1411,1421,0,1.593103,-7.614943,0.354023,-1.526437,-0.549425,...,1.434483,7.135632,0.890805,1.627586,1.165517,-0.973563,-0.635632,-0.766667,-0.803448,0.151724
1,1,2003,1112,1436,-15,17.421182,7.112069,5.493842,9.852217,1.759852,...,4.673645,5.448276,2.213054,1.918719,3.435961,0.716749,1.602217,1.248768,1.853448,0.237685
2,1,2003,1113,1272,3,1.448276,3.344828,0.931034,-3.103448,-3.000000,...,2.586207,3.310345,-0.379310,-2.655172,-1.068966,0.206897,-2.172414,-0.827586,0.655172,-0.172414
3,1,2003,1141,1166,5,0.102403,8.908046,-2.076280,-4.764890,-1.142111,...,5.397074,5.142111,-0.292581,0.094044,-1.197492,4.877743,-1.290491,-0.454545,3.692790,-0.085684
4,0,2003,1301,1143,1,-2.082759,-1.758621,-3.011494,-5.390805,1.552874,...,2.387356,0.949425,-1.508046,-2.345977,-1.333333,0.027586,1.214943,0.273563,1.563218,-0.124138

In [34]:
training_set.describe()

,Result,Season,Team1,Team2,deltaSeed,deltaPointsFor,deltaPointsAgainst,deltaFGM,deltaFGA,deltaFGM3,...,deltaFTM,deltaFTA,deltaOR,deltaDR,deltaAst,deltaTO,deltaStl,deltaBlk,deltaPF,deltaWinPct
count,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,...,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000
mean,0.514818,2011.650296,1294.127011,1294.003387,-0.067739,0.019684,-0.086891,0.066959,0.020318,0.017214,...,-0.131447,-0.118034,-0.017566,0.064525,0.130676,0.130441,0.020666,0.051240,-0.033457,0.002748
std,0.499992,5.274224,105.287793,103.560528,7.489121,7.337427,6.426073,2.934934,4.856986,1.807815,...,2.701534,3.672577,2.558801,2.555007,2.592210,2.091159,1.860275,1.831326,2.498163,0.146010
min,0.000000,2003.000000,1101.000000,1101.000000,-15.000000,-21.643382,-19.145650,-8.602941,-17.404412,-6.062500,...,-7.731034,-10.827586,-7.924632,-9.010776,-7.811553,-7.666667,-6.283681,-6.752688,-7.896552,-0.515152
25%,0.000000,2007.000000,1211.000000,1211.000000,-5.000000,-4.867201,-4.444853,-1.987500,-3.205492,-1.175000,...,-1.950147,-2.647059,-1.718750,-1.645161,-1.685417,-1.205882,-1.244589,-1.151515,-1.797379,-0.089400
50%,1.000000,2012.000000,1279.000000,1293.000000,0.000000,0.029412,-0.184492,0.015180,-0.172727,0.022282,...,-0.124053,-0.155080,0.000000,0.062500,0.113459,0.181818,-0.031250,0.016450,-0.022727,0.001045
75%,1.000000,2016.000000,1393.000000,1393.000000,5.000000,4.827986,4.235294,2.002381,3.374332,1.209524,...,1.674632,2.227941,1.703239,1.715152,1.774510,1.484848,1.222538,1.187500,1.668817,0.097148
max,1.000000,2021.000000,1463.000000,1463.000000,15.000000,22.892857,25.035714,9.357143,22.071429,6.007315,...,8.059629,10.772059,9.214286,9.285714,9.220143,7.580645,6.090133,6.360606,7.230303,0.633333

In [35]:
training_set.to_csv("training_set.csv", index=False)
record.to_csv("record.csv", index=False)

In [39]:
training_set[training_set['Season']==2019]

,Result,Season,Team1,Team2,deltaSeed,deltaPointsFor,deltaPointsAgainst,deltaFGM,deltaFGA,deltaFGM3,...,deltaFTM,deltaFTA,deltaOR,deltaDR,deltaAst,deltaTO,deltaStl,deltaBlk,deltaPF,deltaWinPct
1048,0,2019,1396,1125,0,-12.022917,-3.510417,-5.260417,-3.514583,-2.866667,...,1.364583,1.975000,0.818750,-5.104167,-5.131250,-0.443750,1.989583,-1.550000,1.768750,-0.114583
1049,1,2019,1192,1341,0,-0.106549,-0.243402,0.678397,-3.380254,1.624633,...,-3.087977,-6.330401,-1.986315,1.127077,1.632454,0.845552,-1.302053,2.039101,-4.955034,-0.055718
1050,1,2019,1113,1385,0,0.297348,-1.725379,-1.345644,-2.076705,-1.265152,...,4.253788,7.815341,4.519886,2.903409,-0.436553,3.230114,-2.599432,-0.114583,0.845644,0.051136
1051,1,2019,1295,1300,0,4.590323,5.875269,0.313978,-0.223656,3.443011,...,0.519355,-0.784946,-4.952688,-0.739785,-3.110753,-4.854839,-0.524731,-0.082796,-2.904301,0.016129
1052,1,2019,1120,1308,-7,1.226103,3.775735,-0.314338,1.159926,2.036765,...,-0.181985,-1.452206,-0.889706,-3.183824,-0.088235,0.115809,3.762868,2.295956,0.288603,-0.139706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,0,2019,1246,1120,-3,-2.155080,-3.163993,-0.423351,-4.835116,-5.381462,...,4.073084,4.901070,-0.129234,4.877005,-0.563280,0.489305,-3.263815,0.295900,-2.079323,0.082888
1111,1,2019,1277,1181,1,-4.676471,-2.029412,-2.735294,-6.735294,1.029412,...,-0.235294,-2.088235,-2.558824,1.705882,3.029412,-0.264706,-4.235294,-1.352941,1.058824,-0.029412
1112,0,2019,1277,1403,-1,5.729779,6.248162,1.608456,1.707721,1.044118,...,1.468750,1.406250,1.979779,4.650735,4.909926,0.477941,-2.139706,0.564338,-0.869485,0.011029
1113,0,2019,1120,1438,4,7.038603,13.525735,1.404412,6.847426,2.943015,...,1.286765,2.485294,2.860294,-3.808824,-0.088235,3.115809,3.669118,0.952206,3.726103,-0.170956
1114,0,2019,1403,1438,2,1.250000,4.218750,0.531250,1.875000,-1.218750,...,1.406250,2.343750,-0.031250,-0.312500,-0.468750,3.343750,1.750000,1.093750,3.125000,-0.093750